@import "../../../scss/variables";

.category-header{
    display: flex;
    flex-direction: column;
    margin:20px;
    .category-header-name{
        color:$darkviolet;
    }
    .category-description{
        color:$darkestGreen;
    }
}