@import "./variables";
// &-- ile ortak paranteze alındı sonra içine kaldığı yerden devam edilerek ->  & small ya da &large
.card{

 &--{

 &small{
  background-color:$darkestGreen;
  padding:5px;
 }
 &large{
  background-color:$darkGreen;
  padding:5px 10px;
  margin-left: 5px;
 }
 }
button{
  border-radius: 5px;
  color:white;
  margin-top:5px;
}


}
