@import "../../../scss/variables";

.select-group {
  display: flex;
  color:$darkestGreen;

  .form-select {
    background-color: whitesmoke;
  }

  .select-menu {
    width: 190px;
    margin-right: 20px;
  }

  .form-check-input {
    margin-right: 5px;
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .select-group {
    display: flex;
    flex-direction: column;
  }
}
