@import "../../../scss/variables";

.seo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;                      
    background-color:white;
    color: $darkestGreen;
  
    .seo-words{
        padding: 5rem;
        
    }            
} 