@import "../../scss/variables";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;    
    margin-top: 4rem;
    padding: 1rem;
    // background-color: $pudra ;
    background-color:whitesmoke;

    @media (max-width: 991.98px) {
        .buttons {
            display: flex;
            flex-wrap: wrap;

            .btn {
                width: 5rem;
                font-size: 0.8rem;
            }
        }
    }

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin: 5px;
        height: 5rem;
        width: 7rem;
        font-weight: 500;

        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

    }

    .breakfast {
        background-color: $kahvaltılık;
    }

    .organicfruits {
        background-color: $organik-ürünler;
    }

    .dry-food {
        background-color: $kurugıda;
    }

    .greengrocery {
        background-color: $sebze-meyve;
    }

    .fast {
        background-color: $atıştırmalık;
    }

    .oil {
        background-color: $zeytinyağı;
    }

    .new {
        background-color: $yeni-ürünler;
    }

}


.outlet {
    // margin:30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .category-header{
            margin:10px;
            .category-header-name{
                color:$darkviolet;
            }
        }
        .category-card {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

        }
        .seo{
            background-color:$koyukırmızı;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;            
        }
    }


}