@import "../../scss/variables";

.home {
    margin-top: 4rem;
    padding: 1rem;
    background-color: $pudra ;

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin: 5px;
        height: 5rem;
        width: 7rem;
        font-weight: 500;

        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }

    .breakfast {
        background-color: $kahvaltılık;
    }

    .organicfruits {
        background-color: $organik-ürünler;
    }

    .dry-food {
        background-color: $kurugıda;
    }

    .greengrocery {
        background-color: $sebze-meyve;
    }

    .fast {
        background-color: $atıştırmalık;
    }

    .oil {
        background-color: $zeytinyağı;
    }

    .new {
        background-color: $yeni-ürünler;
    }
}