@import "../../scss/variables";

.card {
  display: flex;
  text-align: center;
  box-shadow: 5px 5px 5px 2px whitesmoke;
  width: 20rem;
  height: 27rem;
  padding: 5px;
  margin: 20px;
  background-color: white;

  .card-img {
    width: 75%;
  }
  .card-title{
    color:$darkestGreen;
  }
  .list-group,
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    color: $darkestGreen;
  }

  .prev-price {
    text-decoration: line-through;
    font-size: smaller;
  }

  .price {
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  .card-link {
    display: none;
  }
  .card-aside-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }

  &:hover {
    border-color: $darkviolet;

    .card-title {
      color: $darkviolet;
    }

    .price {
      color: $darkviolet;

    }

    .card-link {
      display: inherit;
    }
  }
}