@import "../../sass/style";
// bütün sass stillendirmeleri style.scss de toplandı, bu yüzden burada sadece onu import ettik
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  .card {
    max-width: 400px;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    width: 30%;
    padding: 5px;
    
    img {
      width: 50%;
      // border-radius: 80px;
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.329);
      margin-top: 10px;
    }
    h1{
color:$acıkkırmızı;
}
h2{
color:$kırmızı;
}
h4{
 color:$koyukırmızı
}
   }
  }