@import "../../scss/variables";

.product {
    display: flex;
    align-items: center;    
    text-align: center;    
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);


    background-color: $acıkpudra;
    .detailsNav {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    .prev-price {
        text-decoration: line-through;
    }
    img {
        border-radius: 10px;
        width: 500px;
        height: 500px;
        margin:1rem;
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.329);
    }
}