@import "../../scss/variables";
.fixed-top{
    .nav-top{       
        background-color: white;       
        border: 1px solid whitesmoke;
        font-size: smaller;
        ul{
            display: flex;            
            justify-content: center;                       
        }        
        .nav-top-link{          
            margin-right: 10px;
            list-style-type: none;      
            }
        }
}
.navbar {
    display: flex;
    background-color: whitesmoke;
    height: 5rem;
    border-bottom: 1px solid;
    border-color: lightgray;
    
    .logo {
        margin-top: 1.5rem;
        margin-left: 2rem;
        border-radius: 50%;
        width: 50%;
    }

    .input-group {
        display: flex;
        justify-content: center;

    }


    .form-control {
        background-color: white;
        border: 1px solid;
        border-color: whitesmoke;
        height: 3rem;



    }

    .searchInput {
        // background-color:blueviolet;
        border-color: blueviolet;
        margin-left: 4rem;
        margin-right: 4rem;

    }

    .input-group-text {
        background-color: white;
        border-color: whitesmoke;

    }

    @media (max-width: 991.98px) {
        .logo {
            width: 40%;
            align-items: center;

        }

        .input-group {
            display: none;
        }
    }
}