@import "../../scss/variables";

.footer {
    height: 250px;
    display: flex;
    justify-content: space-around;
    // align-items: center;
    background-color: $My-Color-Theme-3-hex;
    padding-top: 10px;


    .list {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        li {
            color: $darkestGreen;

            &:hover {
                background-color: $pudra;
            }
        }
    }


    .footer-headtext {
        text-align: center;
        font-size: larger;
        font-weight: bolder;
        // text-decoration: underline;
        color: $darkestGreen;
        ;

    }

    .social-icons {
        margin-right: 10px;

    }

    .barkod {
        margin-bottom: 10px;
    }

}