@import "../../scss/variables";

.footer {
    height: 12rem;
    font-size: smaller;
    display: flex;
    justify-content: space-around;
    // align-items: center;
    background-color: whitesmoke;
    padding-top: 10px;

    .list {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        li {
            color: $darkestGreen;
            font-weight: 500;

            &:hover {
                background-color: $pudra;
            }
        }
      
    }
    .footer-headtext {
        text-align: center;
        font-size: larger;
        font-weight: bolder;
        // text-decoration: underline;
        color: $darkestGreen;
        ;
    }
    .barkod {
        margin-bottom: 10px;
    }
    .phonenumber{
        color: $darkestGreen;
        font-weight: 500;
        font-size: large;
        margin-bottom: 10px;
    }

    .social-icons {
        margin-right: 10px;    
    }

   

}

.copyright{
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid white;
    font-size: smaller;
}