@import "../../../scss/variables";

.grid-menu{
    display: flex;
    .grid-dort{
        margin-right: 6px;
    }    
    .grid-uc{
        margin-right: 6px;
    }
    .form-select{
        background-color: whitesmoke;
    }    
}
