$darkestGreen: #5b7347;
$darkGreen: #90ab6a;
$lightGreen: #afcf95;
$pudra: #f1e7e1;
$lightPink: #e3c1c9;
$koyukırmızı: #820000;
$acıkkırmızı: #CF0000;
$kırmızı: #A80000;



/*bunu adobe color dan aldım*/
// https://color.adobe.com/tr/explore

/* Color Theme Swatches in Hex */
$My-Color-Theme-1-hex: #27382C;
$My-Color-Theme-2-hex: #EBAB5E;
$My-Color-Theme-3-hex: #BCC2C2;
$My-Color-Theme-4-hex: #d5b6a6;
$My-Color-Theme-6-hex: #e8dfdb;
$My-Color-Theme-5-hex: #7A736E;

// categories

/* Color Theme Swatches in Hex */
$kahvaltılık: #01415B;
$organik-ürünler: #005148;
$kurugıda: #019587;
$sebze-meyve: #A6BC09;
$atıştırmalık: #88a152;
$zeytinyağı: #317A86;
$yeni-ürünler: #61727C;





